* {
    margin: 0;
    outline: 0;
    border: 0;
}

body {
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    background: #fcfcfc;
    -webkit-font-smoothing: antialiased;
}

p { color: #777777;  }
h1 h2 h3 { color: #444444; }

a {
    color: #777777;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
a:hover {
    color: #444444;
    border-bottom: 1px solid rgba(0,0,0,1);
}

li {
    list-style-type:none;
}

#rightnav {
    margin-top: 6%;
    float: right;
}

#leftnav p { margin: 0 0 1em 0; }

#leftnav {
    margin-top: 6%;
    display: block;
    float: left;
    padding: 35px 35px 35px 35px; background-color: rgba(255,255,255,0.85);
    -webkit-box-shadow: 0px 5px 170px #000; -moz-box-shadow: 0px 5px 170px #000; box-shadow: 0px 5px 170px #000;
}

#leftnav p {
    margin: 0 0 1em 0;
    padding-top: 10px;
}

.vertical {
    background: #fcfcfc;
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    /*bottom:0;*/
    /*padding-bottom: 0.4em;*/
    /*padding-left: 1.9em;*/
    /*padding-right: 1.9em;*/
    /*margin: 3.2em -2.7em 0em 0em;*/
}

ul#posts li {
    padding-bottom: 1em;
}

ul#news, ul#posts {
    margin-top: 1em;
    padding: 0 0 0 0;
}

ul#contact {
    white-space:nowrap;
    width: 400px;
    padding: 10px 0 0 0;
    margin: 0 auto 0 0 !important;
}

#contact li {
    display:inline;
}

#contact a {
    text-decoration: none;
    padding:3px 5px;
    border-style: none;
}

#contact a:link, #contact a:visited {
    text-decoration: none;
    opacity:0.2;
    border-style: none;
}

#contact a:hover {
    text-decoration: none;
    opacity:0.4;
    border-style: none;
}

#contact img {
    border:none;
}


.calendar {
    border: 1px solid #777777;
    float: left;
    width: 32px;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    margin-right: 10px;
    padding-bottom: 2px;
}

.calendar .month {
    background-color: #555;
    color: #fff;
    font-size: 12px;
    height: 15px;
}

.calendar .day {
    color: #000;
    font-size: 14px;
    margin-top: 2px;
}

.calendar .year {
    color: #777777;
    font-size: 10px;
    line-height: 9px;
}

